<!DOCTYPE html>
<html>

<%- include('../layout/header'); -%>

<body>  
    <div class="sebuah-kotak">
        <h1><%= title %></h1>
        <hr>

        <div class="form-input">
            <input type="text" class="user" name="username" id="username" placeholder="Username" autocomplete="off">
            <input type="text" class="user" name="email" id="email" placeholder="Email" autocomplete="off">
            <input type="password" name="email" id="password" placeholder="Password" autocomplete="off">
        </div>
        
        <div class="form-button">
            <button>Register</button>
        </div>
    </div>

    <footer class="bg-footer">
        <div>
            ©Copyright XI RPL 1
        </div>
    </footer>
</body>


</html>