<!DOCTYPE html>
<html>

<%- include('../layout/header'); -%>

<body>  
    <div class="sebuah-kotak">
        <h1><%= title %></h1>
        <hr>

        <div class="form-input">
            <form action="http://localhost:3000/login">
                <input type="text" class="user" name="email" id="email" placeholder="Email" autocomplete="off">
                <input type="password" name="email" id="password" placeholder="Password" autocomplete="off">                
                <button>Masuk</button>
            </form>

    </div>

    <footer class="bg-footer">
        <div>
            ©Copyright XI RPL 1
        </div>
    </footer>
</body>


</html>